# This Github workflow will run jobs to build java-app.
name: java-app
on:
  push:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
permissions:
  pull-requests: write
jobs:
  minimal:
    uses: ploigos/ploigos-github-workflows/.github/workflows/minimal.yaml@main
    with:
      verbose: 'true'
      image: 'ubi8-minimal'
      imagePullPolicy: 'Always'
      venvPath: '.'
      stepRunnerPackageName: 'psr'
      stepName: 'test-step'
      stepRunnerConfigDir: '/opt/'
